@import 'tailwindcss';
@import 'tw-animate-css';

/* @config '../tailwind.config.js'; */

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentcolor);
	}
}

@layer base {
	:root {
		--background: hsl(0 0% 100%);
		--foreground: hsl(0 0% 3.9%);

		--card: hsl(0 0% 100%);
		--card-foreground: hsl(0 0% 3.9%);

		--popover: hsl(0 0% 100%);
		--popover-foreground: hsl(0 0% 3.9%);

		--primary: hsl(0 72.2% 50.6%);
		--primary-foreground: hsl(0 85.7% 97.3%);

		--secondary: hsl(0 0% 96.1%);
		--secondary-foreground: hsl(0 0% 9%);

		--muted: hsl(0 0% 96.1%);
		--muted-foreground: hsl(0 0% 45.1%);

		--accent: hsl(0 0% 96.1%);
		--accent-foreground: hsl(0 0% 9%);

		--destructive: hsl(0 72.22% 50.59%);
		--destructive-foreground: hsl(0 0% 98%);

		--border: hsl(0 0% 89.8%);
		--input: hsl(0 0% 89.8%);
		--ring: hsl(0 72.2% 50.6%);
		--radius: 0.5rem;
	}

	.dark {
		--background: hsl(0 0% 3.9%);
		--foreground: hsl(0 0% 98%);

		--card: hsl(0 0% 3.9%);
		--card-foreground: hsl(0 0% 98%);

		--popover: hsl(0 0% 3.9%);
		--popover-foreground: hsl(0 0% 98%);

		--primary: hsl(0 72.2% 50.6%);
		--primary-foreground: hsl(0 85.7% 97.3%);

		--secondary: hsl(240 3.7% 15.9%);
		--secondary-foreground: hsl(0 0% 98%);

		--muted: hsl(0 0% 9.02%);
		--muted-foreground: hsl(0 0% 63.9%);

		--accent: hsl(0 0% 14.9%);
		--accent-foreground: hsl(0 0% 98%);

		--destructive: hsl(0 62.8% 30.6%);
		--destructive-foreground: hsl(0 0% 98%);

		--border: hsl(0 0% 14.9%);
		--input: hsl(0 0% 14.9%);
		--ring: hsl(0 72.2% 50.6%);
	}
}

@theme inline {
	--font-sans: 'Inter', sans-serif;
	--font-mono: 'Consolas', 'Courier New', monospace;

	/* Radius (for rounded-*) */
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	/* Colors */
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-ring: var(--ring);
	--color-radius: var(--radius);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
